@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: gold;
}

.btn:hover {
  background-color: goldenrod;
}

// .rotom-outside-outline {
//   width: 100vw;
//   max-width: 500px;
//   height: 100vh;
//   max-height: 800px;
//   border-radius: 20px;
//   margin: 0;
//   // background-color: black;
//   background-color: white;
//   overflow: auto;
//   padding: 2px;

//   .rotom-border {
//     width: 100%;
//     height: 100%;
//     border-radius: 20px;
//     // border: 14px rgb(237, 108, 77) solid;
//     background-color: white;

//     .rotom-inside-outline {
//       width: 100%;
//       height: 100%;
//       // border: 2px black solid;
//       border-radius: 5px;
//       padding: 4vh 4vw;
//     }
//   }
// }

.container {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  padding-bottom: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* POKEMON INFO */
.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    span {
      font-weight: 100;
      color: #333;
    }
    margin-bottom: 5px;
  }

  .type {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
  }

  .sprites {
    max-width: 100%;
    display: flex;
    flex-direction: 3;
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-top: 20px;
    .sprite {
      background-color: #f9f9f9;
      margin: 0 10px;
      padding: 20px;
      border-radius: 10px;
      img {
      }
    }
  }
}

.stats {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  height: 70px;
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 5px;
  .stat {
    text-transform: capitalize;
    font-size: 1rem;
  }
}

/* POKEMON SEARCH */

.search-phrase {
  text-align: center;
  input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
  }
}

.choosePokemon {
  height: 55%;
  width: 100%;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}
.rotom_edge {
  img {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  p {
    text-transform: capitalize;
    margin: 10px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  margin: 10px;
}
